.testimony_container {
  /* border: 1px solid red; */
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5rem;
}
.testimony_main {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  padding: 0 12rem;
}
.testimony_heading {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.testimony_left {
  width: 50%;
}
.testimony_pic {
  width: 250px;
}

.testimony_description {
  width: 500px;
  color: gray;
  margin-bottom: 1rem;
}
.testimony_testimony {
  color: #368c21;
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}
.test_heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.testimony_name {
  color: black;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
.testimony_address {
  color: #828282;
  font-size: 0.7rem;
}
